:root {
    --background-color: #FAFAFA;
    --background-color-modal: rgba(187, 187, 187, 0.47);
    --dark-color: #000000;
    --grey-color: #757575;
    --light-red: #DB8876;
    --main-color: #901C1C;
    --secondary-color: #D3573C;
    --white-color: #fff
}

.photograph-header {
    background-color: var(--background-color);
    height: 300px;
    margin: 0 100px
}

.photographer_header {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
    width: 100%
}

.photographer_header__profile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 5%;
    width: 35%
}

.photographer_header__profile__name {
    color: var(--main-color);
    font-size: 64px;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 0
}

.photographer_header__profile__location {
    color: var(--main-color);
    display: flex;
    flex-direction: column;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0
}

.photographer_header__profile__tagline {
    color: var(--main-color);
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 15px
}

.photographer_header__profile__contact {
    align-items: center;
    background-color: var(--main-color);
    border-radius: 5px;
    color: var(--white-color);
    font-size: 20px;
    font-weight: bold;
    height: 69px;
    justify-content: center;
    width: 170px
}

.photographer_header__profile__contact .button {
    align-items: center;
    border-radius: 5px;
    color: var(--white-color);
    display: flex;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    padding: 11% 8%;
    text-align: center;
    text-decoration: none
}

.photographer_header__profile__price {
    align-items: center;
    background-color: var(--light-red);
    border-radius: 5px;
    bottom: 0;
    color: var(--dark-color);
    display: flex;
    flex-direction: row;
    font-size: 20px;
    font-weight: bold;
    height: 50px;
    justify-content: center;
    margin-right: 50px;
    position: fixed;
    right: 0;
    width: 376px
}

.photographer_header__profile__price .price {
    display: flex;
    flex-direction: row;
    padding-left: 48%;
    padding-right: 1%
}

.photographer_header__profile__price .likes {
    display: flex;
    flex-direction: row;
    padding-left: 1%;
    padding-right: 1%
}

.photographer_header img {
    clip-path: ellipse(50% 50%);
    height: 200px;
    margin-right: 40px;
    object-fit: cover;
    width: 200px
}

#like-icon {
    height: 20px;
    margin-right: 5px;
    margin-top: 4px;
    width: 20px
}

.modal {
    align-items: center;
    background-color: var(--light-red);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    padding: 35px;
    width: 50%
}

.modal header {
    justify-content: space-between;
    width: 100%
}

.modal header img {
    cursor: pointer
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center
}

.label {
    color: #000000;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    margin-right: 10px
}

.ListFiltre {
    margin-left: 5%;
    margin-top: 2%
}

#menu ul li {
    list-style: none;
    margin-right: 20px
}

form {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    width: 100%
}

form label {
    color: #312E2E;
    font-size: 36px
}

.container {
    align-items: center;
    display: flex;
    float: left;
    justify-content: flex-end
}

.select__element {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-family: "DM Sans", sans-serif
}

#select__element-icon {
    background-color: var(--dark-color);
    display: inline-flex;
    display: none;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 2%
}

#filter_section {
    margin-top: 16px
}

#filter {
    background-color: var(--main-color);
    border: none;
    border-radius: 5px;
    color: var(--white-color);
    cursor: pointer;
    font-size: 18px;
    padding: 10px
}

.menu__options {
    cursor: pointer;
    padding: 10px
}

#menu_cache {
    background-color: var(--main-color);
    border-radius: 5px;
    color: var(--white-color);
    font-size: 18px;
    left: 176px;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 10%;
    z-index: 1
}

#menu_cache [aria-selected="true"] {
    background-color: var(--white-color);
    color: var(--main-color)
}

.contact_modal__form__photograhper h2 {
    font-size: 64px;
    font-weight: 400;
    height: 83px;
    margin-top: 0;
    width: 449px
}

.contact_modal__form__photograhper .name {
    font-size: 64px;
    font-weight: 400;
    height: 83px;
    width: 100%
}

#modal-container {
    align-items: center;
    background-color: var(--light-red);
    border-radius: 5px;
    display: block;
    display: flex;
    flex-direction: column;
    height: 850px;
    justify-content: space-between;
    left: 25%;
    margin: auto;
    padding: 15px 35px 35px;
    position: fixed;
    top: 3%;
    width: 669px;
    width: 50%;
    z-index: 1
}

.contact_modal__form__group {
    margin-bottom: 0
}

.contact_modal__form__group #message {
    border: none;
    border-radius: 5px;
    height: 170px;
    width: 100%
}

.contact_modal__form__group button {
    background-color: var(--main-color);
    border: none;
    border-radius: 5px;
    color: var(--white-color);
    cursor: pointer;
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 600;
    height: 69px;
    margin-top: 24px;
    width: 170px
}

#close-button {
    background-color: var(--light-red);
    border-color: var(--light-red);
    border-style: dashed;
    left: 73%;
    position: fixed;
    top: 7%
}

form div {
    align-items: self-start;
    display: flex;
    flex-direction: column;
    margin-bottom: 26px;
    width: 100%
}

form input {
    border: none;
    border-radius: 5px;
    height: 68px;
    width: 100%
}

.modal_childrens {
    height: 75%;
    margin: auto;
    position: relative;
    top: 10%;
    width: 50%
}

#medias_modal {
    background-color: var(--background-color-modal);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%
}

.modal-content,
#carousel {
    height: 100%;
    margin: 0 20px;
    width: 100%
}

#carousel img,
#carousel video {
    height: 100%;
    object-fit: cover;
    width: 100%
}

.mediaModal {
    display: none;
    height: 100%
}

.mediaModal p {
    color: #901C1C;
    margin: 0
}

.modal-content {
    background-color: var(--white-color);
    display: flex;
    padding: 25px 40px 40px
}

.previous-button {
    background: url(/assets/icons/prev.png) center no-repeat;
    background-size: 20px;
    cursor: pointer;
    height: 50px;
    object-fit: cover;
    width: 50px
}

#left-side {
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
    height: 50%
}

#right-side {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: space-between
}

.close-button {
    background: url(/assets/icons/closemodal.png) center no-repeat;
    background-size: 20px;
    cursor: pointer;
    height: 50px;
    object-fit: cover;
    width: 50px
}

.next-button {
    background: url(/assets/icons/next.png) center no-repeat;
    background-size: 20px;
    cursor: pointer;
    height: 50px;
    object-fit: cover;
    width: 50px
}

.next-button img {
    height: 30px;
    width: 30px
}

#contact_modal,
#menu {
    display: none
}

#filter:focus+#menu,
.mediaModal.active {
    display: block
}