@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

h2 {
    margin-bottom: 0px;
}

h3 {
    margin-bottom: 0px;
    color: #901C1C;
    font-size: 13px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
}

.photographer_section article img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    clip-path: ellipse(50% 50%);
}

.photographer_section .location {
    color: #901C1C;
    font-size: 13px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
}

.photographer_section .tagline {
    color: #000000;
    font-size: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
}

.photographer_section .price {
    color: #757575;
    font-size: 9px;
    margin-top: 5px;
    margin-bottom: 0px;
}

.photographer_section a {
    color: transparent;
}

.ListMedia {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 86%;
    margin: auto;
    margin-top: 115px;
    border-radius: 5px;
}

.mediaPicture {
    /* width: 100%; */
    /* height: 20em; */
    width: 350px;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
    object-position: center;
    border-radius: 5px;
}

.mediaVideo {
    /* width: 100%; */
    /* height: 20em; */
    width: 350px;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
    object-position: center;
    border-radius: 5px;
}

.descriptionPicture {
    display: flex;
    justify-content: space-between;
    width: 350px;
    /* width: 557px; */
    color: #901C1C;
    margin-top: -10px;
    margin-bottom: 10px;
}

.likes {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* 3- Style apporté à toute la section portant sur le filtre et son dropdown.*/
#filter_section {
    position: absolute;
    display: flex;
    gap: 10px;
    align-items: baseline;
}

#filter {
    width: 170px !important;
    text-align: left;
}

label {
    font-size: 18px;
    font-weight: 700;
    position: relative;
}

select {
    appearance: none;
}

#dropdown__menu {
    background-color: #901C1C;
    border-radius: 5px;
    color: white;
    width: 170px;
    margin-top: -6px;
    display: none;
}

#dropdown__menu_hidden {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: inherit;
    margin: inherit;
    padding-top: 5px;
}

#dropdown__menu_hidden li {
    padding-block: 14px;
    width: 80%;
    text-align: left;
    border-top: 2px solid #fff;
    cursor: pointer;
    font-weight: bold;
}

#dropdown__menu_hidden li:hover {
    background-color: #DB8876;
    color: black;
}

.select__container {
    display: flex;
    flex-direction: column;
    position: relative;
}

#select__container-icon {
    position: absolute;
    top: 11px;
    left: 136px;
    cursor: pointer;
    transition: rotate 250ms ease-out;
}

.isActive {
    rotate: 180deg;
}

.not-hidden {
    display: block !important;
}